<ion-header>
  <ion-toolbar>
    <ion-title>Darse de Baja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Alumno</ion-label>
      <ion-select [(ngModel)]="selectedAlumno" name="alumno" (ionChange)="cargarCursosSinNota()" required>
        <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno.id">
          {{ alumno.nombre_alumno }} {{ alumno.apellido1_alumno }} {{ alumno.apellido2_alumno }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Curso</ion-label>
      <ion-select [(ngModel)]="selectedCurso" name="curso" required>
        <ion-select-option *ngFor="let curso of cursosSinNota" [value]="curso.id">
          {{ curso.nombreCurso }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Darse de baja</ion-button>
  </form>
</ion-content>
